<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
</head>
 <body>
<div id = "app">
  <div id="img">
    <img src='' id="piximage">
    <p id="nopicturesavail"></p>
  </div>
  <div class ="holder zip">
  <div class="tripinformation">
  <div class = "title" id="placeinfotitle"></div>
  <div id = "entryholder">
    <h1 id = "placenameprint" class = "answer"></h1>
    <h1 id = "placelatprint" class = "answer"></h1> 
    <h1 id = "placelonprint" class = "answer"></h1>
    <h1 id = "countrynameprint" class = "answer"></h1>
  </div>
  <div id=inputplacename>
    <label for="zip" id="placenamelabel">Enter the place you wanna travel to!</label>
    <input type="text" id="placename" placeholder="Where do you wanna travel to ?">
  </div>
  <div id='callendar'>
    <h1>Please input your travel starting Date</h1>
    <input type="date" class="input" id="date_input" name="trip-start" value="" min="2020-04-24" max="2020-04-31" required />
    <h1>Days until your trip starts.</h1>
    <input type="text" id="tripend" readonly="true" />
  </div>
  <div class ="holder feel">
    <!-- <label for="feelings">How are you feeling today?</label>
    <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea> -->
  </div>
  <div id="generatebuttonholder">    
    <button id="generate" type = "submit" > Generate </button>
  </div>
</div>

</body>
</html>