body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0
}

#app {
    display: grid;
    grid-auto-rows: minmax(100px, auto, auto);
    height: 130vh;
    background: #215b8b;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif
}

.holder.headline {
    height: 20px
}

.entry {
    background: rgba(59, 74, 107, 0.4)
}

label {
    display: block;
    font-size: 27px
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #ffffff;
    color: #353535;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    text-align: center;
    border-radius: 40px
}

button {
    width: 400px;
    height: 100px;
    background: #933bad;
    color: #ffffff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 40px;
    margin: 50px auto
    
}

h1 {
    font-size: 30px;
    margin: 40px auto;
    text-align: center;
}

textarea {
    background: #22b2da;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
    border-color: black;
    outline-width: 5px;
    
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none
}

::placeholder {
    color: #202020;
    font-family: 'Oswald', sans-serif
}

:-ms-input-placeholder {
    color: #353535;
    font-family: 'Oswald', sans-serif
}

::-ms-input-placeholder {
    color: #383838;
    font-family: 'Oswald', sans-serif
}

.holder.zip {
    margin: 0 auto
}

.valid {
    background-color: green
}

.error {
    background-color: red
}

.invalidzipwarning {
    margin-top: 30px;
    color: red;
    display: block
}

.hide {
    display: none
}

.wrongfieldinput {
    background-color: red
}

.rightfieldinput {
    background-color: green
}

.yourweather {
    margin: 0 auto
}

#placename{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    outline-width: 5px;
}

#calendar{
    text-align: center;
    margin: 0 auto;
}

#date_input{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    outline-width: 5px;
}

#tripend{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    outline-width: 5px;
}
#generatebuttonholder{
    text-align: center;
    margin: 0 auto;
}
#placenamelabel{
    text-align: center;
    margin: 20px auto;
    
}
#inputplacename{
    text-align: center;
    margin: 0px auto;   
}

#piximage{
    text-align: center;
    margin: 0 auto;
    max-height: 300px;
}

#img{
    text-align: center;
    margin: 0 auto;
    max-height: 300px;
}

#placeinfotitle{
    text-align: center;
    margin: 0 auto;
}
#entryholder{
    text-align: center;
    margin: 0 auto;
}

.answer{
    text-align: center;
    margin: 0 auto;
}

#entryholder{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    outline-width: 5px;
}

@media only screen and (max-width: 600px) {
    #app {
        height: 180vh;
    }
    #piximage{
        text-align: center;
        margin: 0 auto;
        max-height: 200px;
    }
    
    #img{
        text-align: center;
        margin: 0 auto;
        max-height: 300px;
    }
  }